.myform{
    background-color: rgb(189, 127, 255);
    height:30vh !important;
    width:60vw !important;
    margin:2rem;
    border-radius: 10px;
    
}
.btns{
    margin-left:2rem;
}
.inputs{
    padding:1rem;
    display: flex;
    flex-direction: column;
    width:50vw;
}
.row_class{
    display:flex;
    flex-direction:row;
    padding:2rem;
    flex-wrap:wrap;
    gap:1rem;
}
.card-body
{
    background-color: rgb(50, 227, 144) !important;
    border:2px solid black ;
    margin:1rem;
   

}
